
body{
    background-color: #ff6909;
}

.navbar {
  background-color: #ff6909;
  height: 50px;
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo img {
  height: 60px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
  justify-content: center;
  flex-grow: 1;

}

.navbar-menu-item {
  margin: 0 10px;
}

.navbar-menu-item a {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: medium;
  margin-right: 15px;
}

table{
    margin-top: 50px;
}

.titulo{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: medium;
    margin-top: 50px;

}

.'px-6 py-3'{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: medium;
}