<!DOCTYPE html>
<html lang = "es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mi sitio web</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
</head>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a href="#"><img src="logo.png" alt="Logo de mi sitio web"></a>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-menu-item"><a href="/listar-proveedores">Ver Proveedores</a></li>
                <li class="navbar-menu-item"><a href="#">Añadir Proveedores</a></li>
                <li class="navbar-menu-item"><a href="#">Importar Acopio</a></li>
                <li class="navbar-menu-item"><a href="#">Importar Grasas</a></li>
                <li class="navbar-menu-item"><a href="#">Planilla de pago</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
</main>
</body>
</html>